/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
  @apply text-gray-800;
  background-color: #fde8cd;
}

.box {
  @apply mx-auto;
  @media only screen and (min-width: 960px) {
    max-width: 900px;
  }
  @media only screen and (min-width: 1440px) {
    max-width: 1400px;
    /* styles for browsers larger than 1440px; */
  }
  @media only screen and (min-width: 2000px) {
    max-width: 1600px;
    /* for sumo sized (mac) screens */
  }
}

@import './styles/components.scss';
