<main
  class="p-5 md:p-10 lg:p-20 grid sm:grid-cols-1 md:grid-cols-2 gap-5 gt-sm:gap-10">
  <section class="logo_1 flex justify-center items-center">
    <img class="" src="assets/images/task-check.jpg" alt="" />
    <!-- <img src="assets/images/tasks-logo.png" alt="" /> -->
  </section>
  <section
    class="input_items flex flex-col justify-start gt-sm:justify-center items-center">
    <span class="space-y-5">
      <div class="w-80">
        <input class="" type="email" placeholder="your email" />
      </div>
      <div class="w-80">
        <input class="" type="password" placeholder="your password" />
      </div>
    </span>
    <span class="mt-5"><button type="submit">login</button></span>
    <p class="mt-5">Don't have an account? Sign up</p>
  </section>
</main>
